.conteudo-zero {
    background: rgb(0, 38, 255);
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}
.conteudo1 {
    background: rgb(0, 38, 255);
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}
.conteudo2 {
    background: rgb(0, 38, 255);
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}

.limpar {
    clear: left;
}