#conteiner {
    background-color: rgba(0, 0, 0, 0.212);
    padding: 10px;
    width: 500px;
}
.p2 {
    border: 1px solid red;
    position: relative;
    top: 90px;
}

.p3 {
    border: 1px solid rgb(0, 17, 255);
}
