body {
    background: #f4f4f4;
}

#principal {
    border: 1px solid rgb(122, 39, 39);
}
.noticias {
    background-color: rgba(128, 128, 128, 0.267);
    width: 220px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: left;
}

img {
    background: white;
    width: 220px;
}

.galeria {
    background: white;
    width: 220px;
    padding: 5px;
    margin: 15px;
    float: left;
}

.clear  {
    clear: both;
}