.conteudo1 {
    border: 1px solid red;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
}
.conteudo2 {
    border: 1px solid red;
    background: green;
    width: 200px;
    height: 200px;
    top: 80px;
    left: 80px;
    position: absolute;
    z-index: 2;
}
.conteudo3 {
    border: 1px solid red;
    background: yellow;
    width: 200px;
    height: 200px;
    top: 160px;
    left: 160px;
    position: absolute;
    z-index: 3;
}
.conteudo4 {
    border: 1px solid red;
    background: blue;
    width: 200px;
    height: 200px;
    top: 240px;
    left: 240px;
    position: absolute;
    z-index: 4;
}
.conteudo5 {
    border: 1px solid red;
    background: pink;
    width: 200px;
    height: 200px;
    top: 320px;
    left: 320px;
    position: absolute;
    z-index: 5;
}
.conteudo6 {
    border: 1px solid red;
    background: purple;
    width: 200px;
    height: 200px;
    top: 400px;
    left: 400px;
    position: absolute;
    z-index: 6;
}