body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url(/coluna.png) repeat-y left top;
    min-width: 720px;
    max-width: 1280px;
}

#marca {
    font-weight: 900;
    width: 100%;
    height: 200px;
    background: #225992 url(/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

/*
#imagem {
    width: 90%;
    overflow: hidden;
}
*/

#conteudo {
    width: 74%;
    float: right;
}

#conteudo-pri {
    width: 63%;
    float: left;
}

img.img-noticia {
    width: 96%;
    padding: 2%;
}

#conteudo-sec {
    width: 35%;
    float: right;
    background: #d1d1d1 ;
}

#navegacao {
    width: 24%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

h2, p {
    padding-left: 20px;
    padding-right: 20px;
}

