hmtl, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#conteiner {
    background-color: rgba(0, 0, 0, 0.212);
    padding: 10px;
    margin: 20px;
    width: 500px;
    border: 1px  solid red;
    position: relative;
}
.relative {
    background-color: rgb(126, 128, 0);
    height: 100px;
    position: relative;
    top: 0px;
}
.absolute {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0px;
}
.fixed {
    position: fixed;
    background-color: red;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
}
.fundo-azul {
    background-color: blue;
    height: 100px;
}
.fundo-verde {
    background-color: green;
    height: 100px;
}
.fundo-vermelho {
    background-color: red;
    height: 100px;
}
