/*ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    padding: 5px 20px;
    background: url(/seta.png) no-repeat left center;
}*/

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a {
    /*border: 1px solid red;*/
    height: 40px;
    width: 200px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #nav-lateral .home a,
#sobre #nav-lateral .sobre a,
#servicos #nav-lateral .servicos a,
#noticias #nav-lateral .noticias a,
#contato #nav-lateral .contato a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}