
/*********** BARRA DE NAVEGAÇÃO VERTICAL ESTILOS

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a {
    height: 40px;
    width: 200px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #nav-lateral .home a,
#sobre #nav-lateral .sobre a,
#servicos #nav-lateral .servicos a,
#noticias #nav-lateral .noticias a,
#contato #nav-lateral .contato a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}
***********/

/***********BARRA DE NAVEGAÇÃO HORIZONTAL ESTILOS***********/

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 720px;
    background: #159cb0 url(/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: white;
    background: url(/divisor.png) repeat-y left top;
}

ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #085662;
    background: #44cade;
}

#home #nav-lateral .home a,
#sobre #nav-lateral .sobre a,
#servicos #nav-lateral .servicos a,
#noticias #nav-lateral .noticias a,
#contato #nav-lateral .contato a {
    color: #085662;
    background: #44cade;
}