body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 960px;
}

#marca {
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo {
    width: 74%;
    float: right;
}

#conteudo-pri {
    width: 63%;
    float: left;
}

#conteudo-sec {
    width: 35%;
    float: right;
    background: #d1d1d1 ;
}

#navegacao {
    width: 24%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

h2, p {
    padding-left: 20px;
    padding-right: 20px;
}

