.caixa {
    width: 400px;
    background: #dedede url(/fundo-arredondamento.png) repeat-y;
}

p {
    padding: 10px 20px 0 20px;
}

.caixa h2 {
    padding: 10px 20px 0 20px;
    background: url(/topo2.png) no-repeat left top;
}

.ultimo {
    padding: 0 20px 20px 20px;
    background: url(/baixo2.png) no-repeat left bottom;
}
